<div class="row centered-block">
  <div class="col-md-6 main">
  <button type="button" class="btn btn-danger pull-right topButton" (click)="deleteAll()">Delete all tasks</button>
  <button type="button" class="btn btn-default pull-right topButton" (click)="refresh()">
    <span *ngIf="isRefreshing" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Refresh
  </button>
    <h1>Tasks <small>FullStackChallenge by Philipp Spindler</small></h1>
    <div class="list-group">
        <a *ngFor="let task of tasks"
           (click)="onSelect(task)"
           [class.active]="task === selectedTask"
           [class.disabled]="task.status === false"
           href="#" class="list-group-item">
           <span class="badge">Priortiy: {{task.priority}}{{!task.status ? ' | Done' : '' }}</span>
           <h4 class="list-group-item-heading">{{task.title}} <small>{{convertDate(task.duedate)}}</small></h4>
           <p class="list-group-item-text">{{task.description}}</p>
        </a>
    </div>
  </div>
  <div class="col-md-6 detail">
    <task-detail [task]="selectedTask" (deleted)="deleted($event)" (updated)="updated()"></task-detail>
  </div>
</div>
